<div class="background-container">
    <div class="toumei">

        <div class="otomo"><h1>Otomo</h1><p>～ご飯のお供紹介サイト～</p></div>
        <div class="center3">
        <p>ご飯をおいしく食べるために必須であるご飯のお供の紹介サイトです</p>
        <p>ご飯のお供の写真や価格や販売サイトへのURLといった情報も掲載</p>
        <p>豊富なタグで食べたいお供を見つけ出そう</p>
        <p>おいしかったお供はいいね機能で友達におすすめしよう</p>
        </div>

            <div class="image-container">
            <%#= image_tag 'image1.jpg', alt: '画像1' %>
            <%#= image_tag 'image2.jpg', alt: '画像2' %>
            <%#= image_tag 'image3.jpg', alt: '画像3' %>
            <%#= image_tag 'image4.jpg', alt: '画像4' %>
            <%#= image_tag 'image5.jpg', alt: '画像5' %>
            <%#= image_tag 'image6.jpg', alt: '画像6' %>
            </div>

    </div>

</div>